* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

img {
    max-width: 100%;
}

#homepage {
    height: 100vh; 
    background-color: #008080;
}

.socials {
    display: flex; 
    justify-content: center;
    gap: 2%;
    font-size: 2em;
    padding-top: 1em;
}

.icons {
    text-decoration: none;
    color: #004f4f;
    transition: .3s;

}

.icons:hover {
    color: #53ebeb;
}

#artistname {
    color: #76f5f5;
    display: flex; 
    justify-content: center;
    font-size: 3em;
    padding: .5em;
    text-align: center;
}

#video {
    display: flex; 
    justify-content: center;
    max-width: 100%; 
}

#video > * {
    border-radius: 5px;
    width: 70%;
    height: 60vh;
}

#musicpage {
    height: 100vh; 
    background-color: #008080;
}

#songtitle {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: #76f5f5; 
    text-align: center;
}

.container {
    display: flex; 
    justify-content: center;
    gap: 3em;
}

.streamicons {
    text-decoration: none;
    color: #004f4f;
    font-size: 3em; 
    transition: .3s;
}

.streamicons:hover {
    color: #53ebeb;
}

.buttons {
    display: flex; 
    flex-direction: column;
    gap: .7em;
}

#songart {
    width: 40vw;
    min-width: 40vw;
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }
}