* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

#shop {
  position: fixed;
  right: 2%;
  top: 2%;
  font-size: 2.2em;
  z-index: 1;
}

#videos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  margin-top: 3em;
}

.socials {
    display: flex; 
    justify-content: center;
    gap: 3%;
    font-size: 2.2em;
    margin-top: 2em;
    animation: fadeIn 1s ease-in;
}

@media screen  and (max-width: 730px) {
    .socials { 
        gap: 5%;
    }
}

.icons {
    text-decoration: none;
    color: #031e1e;
    transition: .1s;
    opacity: .85;
}

.icons:hover {
  opacity: 1;
}

.signature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 3em; */
    animation: fadeIn 3s;
}

#signature {
    max-width: 15vw;
    margin-top: 1em;
}

@media screen and (max-width: 768px){
    #signature {
        max-width: 35vw;  
    }
}

#artistname {
    color: #76f5f5;
    display: flex; 
    justify-content: center;
    font-size: 4em;
    padding: .5em;
    text-align: center;
    text-shadow: 5px 4px 0px #004F4F;
    animation: fadeIn 1.5s ease-in;
}

.video {
    display: flex; 
    justify-content: center;
    max-width: 100%; 
    animation: fadeIn 1s ease-in;
}

.video > * {
    border-radius: 5px;
    width: 70%;
    height: 60vh;
    box-shadow: 0px 5px 26px 5px rgba(0,0,0,0.29);
}

@media screen and (max-width: 800px) {
  .video > * {
    width: 90%;
    height: 40vh;
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#musicpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #ffff;
}

#songtitle {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 1em;
    color: #031e1e; 
    text-align: center;
    font-family: Helvetica Neue;
    font-weight: 400;
}

.font {
    font-family: Helvetica Neue;
    font-weight: 400;
}

.container {
    display: flex; 
    justify-content: center;
    gap: 3em;
}

.streamicons {
    text-decoration: none;
    color: #031e1e;
    font-size: 2.5em; 
    transition: .1s;
    opacity: .85;
}

.streamicons:hover {
  opacity: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .7em;
}

@media screen and (min-width: 1350px) {
    .buttons {
        gap: .9em;
    }
}

@media screen and (min-width: 1430px) {
    .buttons {
        gap: 1.3em;
    }
}

@media screen and (max-width: 1100px) {
    .buttons {
        gap: .4em;
    }
}

#songart {
    max-width: 35vw;    
    box-shadow: 0px 5px 26px 5px rgba(0,0,0,0.29);
}

@media screen and (max-width: 600px) {
    #songart {
        max-width: 80vw !important;
    }

    #songtitle {
        font-size: 1.5em;
    }

    #artistname {
        font-size: 2em;
    }
}

@media screen and (max-width: 1000px) {
    #songart {
      max-width: 55vw;
    }

    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        font-size: 3.5vw;
    }

    .streamicons {
      font-size: 2.5em;
    }

    .socials {
      font-size: 2em;
    }

    #shop {
      font-size: 2em;
    }
}

.merch-grid > a {
  opacity: .85;
  transition: .1s;
}

.merch-grid > a:hover {
  opacity: 1;
}

#merch {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#merch > h1 {
padding-bottom: 1em;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(8, calc(50% - 270px));
    overflow-x: scroll;
}

#merch > * {
    font-size: 1.5em;
}

.merch-images {
    max-height: 350px;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .merch-grid {
        display: grid;
        grid-template-columns: repeat(8, calc(50% - 100px));
        overflow-x: scroll;
    }
}

@media screen and (max-width: 500px) {
    .merch-grid {
        display: grid;
        grid-template-columns: repeat(8, calc(50% - 40px));
        overflow-x: scroll;
    }

    .merch-images {
        max-height: 200px;
        width: fit-content;
    }
}

#contact {
    height: 75vh; 
    background-color: #ffff;
    margin-top: 3em;
}

#contactform {
    max-width: 80vw;
    max-height: 50vh;
    margin-bottom: 4em;
}

#contactbanner {
    display: flex;
    justify-content: center;
    color: #031e1e;
    padding-top: 1em;
    padding-bottom: 1em;
}

#formcontainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#emailcontainer {
    padding-bottom: 3em;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#emailaddress {
    padding: .5em;
    border-radius: 3px;
    border: none;
    width: 100%;
    border: 1px solid black;
}

#textcontainer {
   display: flex;
   justify-content: center;
   align-items: center; 
   border: 1px solid black;
   border-radius: 3px;
}


#emailtext {
    padding-bottom: 12em;
    padding-left: .5em;
    word-wrap: break-word;
    border-radius: 3px;
    border: none;
    max-width: 100vw;
}

#submitbutton {
    display: flex;
    justify-content: center;
    padding-top: 2em; 
}

#btn {
    padding: .5em 1em;
    border-radius: 3px;
    border: none;
    color: #ffff;
    background-color: rgb(46, 51, 51);
    transition: .1s; 
}

#btn:hover {
    cursor: pointer;
    background-color: #031e1e;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 25vh;
    background-image: linear-gradient(#ffff, #6d7777);
}

#copyright {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;
}

#copyright > p {
    color: #031e1e; 
    font-size: .8em;
    text-align: center;
}

.fa-solid fa-copyright {
    color: white;
}