* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

img {
    max-width: 100%;
}

#homepage {
    height: 100vh; 
    background-color: #008080;
}

.socials {
    display: flex; 
    justify-content: center;
    gap: 2%;
    font-size: 2em;
    padding-top: 1em;
}

.icons {
    text-decoration: none;
    color: #004f4f;
    transition: .3s;

}

.icons:hover {
    color: #53ebeb;
}

#artistname {
    color: #76f5f5;
    display: flex; 
    justify-content: center;
    font-size: 3em;
    padding: .5em;
    text-align: center;
}

#video {
    display: flex; 
    justify-content: center;
    max-width: 100%; 
}

#video > * {
    border-radius: 5px;
    width: 70%;
    height: 60vh;
}

#musicpage {
    height: 100vh; 
    background-color: #008080;
}

#songtitle {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 1em;
    color: #76f5f5; 
    text-align: center;
}

.container {
    display: flex; 
    justify-content: center;
    gap: 3em;
}

.streamicons {
    text-decoration: none;
    color: #004f4f;
    font-size: 3em; 
    transition: .3s;
    font-size: 3em;
}

.streamicons:hover {
    color: #53ebeb;
}

.buttons {
    display: flex; 
    flex-direction: column;
    gap: .7em;
}

#songart {
    width: 40vw;
    min-width: 40vw;
}

@media screen and (max-width: 1000px) {
    .container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }
}

#contact {
    height: 80vh; 
    background-color: #008080;
}

#contactbanner {
    display: flex;
    justify-content: center;
    color: #76f5f5;
    padding-top: 1em;
    padding-bottom: 1em;
}

#formcontainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#emailcontainer {
    padding-bottom: 3em;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#emailaddress {
    padding: .5em;
    border-radius: 3px;
    border: none;
    width: 100%;
}

#textcontainer {
   display: flex;
   justify-content: center;
   align-items: center; 
}


#emailtext {
    padding-bottom: 12em;
    padding-left: .5em;
    word-wrap: break-word;
    border-radius: 3px;
    border: none;
    max-width: 100vw;
}

#submitbutton {
    display: flex;
    justify-content: center;
    padding-top: 2em; 
}

#btn {
    padding: .5em 1em;
    border-radius: 3px;
    border: none;
    color: #035050;
    background-color: #76f5f5;  
    transition: .1s; 
}

#btn:hover {
    cursor: pointer;
    background-color: #056363;
    color: #76f5f5; 
}

footer {
    height: 20vh;
    background-image: linear-gradient(#008080, #004f4f);
}

#copyright {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;
}

#copyright > p {
    color: #76f5f5; 
    font-size: .8em;
    text-align: center;
}

.fa-solid fa-copyright {
    color: white;
}